* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    /*text-transform: capitalize;*/
    transition: all .2s linear;
    font-family: 'Nunito', sans-serif;
}

:root {
    --main-clr: rgb(222, 93, 131);
    --box-shadow: 0rem .5rem .5rem rgba(0, 0, 0, 0.3);
    --glowing-bxs: 0 0 .1rem rgb(222, 93, 131),
    0 0 .2remrgb(222, 93, 131),
    0 0 .3rem rgb(222, 93, 131),
    0 0 .5rem rgb(222, 93, 131);
    --heading: calc(25px + (50 - 25) * ((100vw - 300px) / (1500 - 300)));
    --big-fz: calc(30px + (100 - 30) * ((100vw - 300px) / (1500 - 300)));
    --large-fz: calc(30px + (80 - 30) * ((100vw - 300px) / (1500 - 300)));
    --medium-fz: calc(16px + (20 - 16) * ((100vw - 300px) / (1500 - 300)));
    --small-fz: calc(12px + (16 - 12) * ((100vw - 300px) / (1500 - 300)));
    --h3-fz: calc(14px + (25 - 14) * ((100vw - 300px) / (1500 - 300)));
    --user-name-fz: calc(14px + (30 - 14) * ((100vw - 300px) / (1500 - 300)));
    --info-box-fz: calc(14px + (40 - 14) * ((100vw - 300px) / (1500 - 300)));
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

body {
    background: #222222;
    padding-left: 35rem;
}


body {
    --sb-track-color: #222222;
    --sb-thumb-color:rgb(222, 93, 131);
    --sb-size: 1rem;
}

body::-webkit-scrollbar {
    width: var(--sb-size);
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 1rem;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 1rem;
}

section {
    min-height: 100vh;
    padding: 1rem;
}

.btn {
    padding: 0.7rem 3rem;
    background: #170d16;
    color: #fff;
    cursor: pointer;
    margin-top: 1rem;
    border-radius: 5rem;
    font-size: var(--medium-fz);
}

.btn i {
    padding: 0rem 0.5rem;
    font-size: var(--small-fz);
}

.btn:hover {
    background: var(--main-clr);
}

.heading {
    text-align: center;
    margin: 3rem 0rem;
    font-size: var(--heading);
    padding: 1rem;
    color: #fff;
    border-bottom: .1rem solid rgba(255, 255, 255, 0.267);
}

.heading span {
    color: var(--main-clr);
}

/* header section start  */

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 35rem;
    background: #0d1117;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    text-align: center;
    z-index: 1000;
}

header .user img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: .7rem solid var(--main-clr);
    box-shadow: var(--glowing-bxs);
}

header .user .name {
    color: #fff;
    font-size: var(--user-name-fz);
}

header .user p {
    color: #fff;
    font-size: var(--medium-fz);
}

header .navbar {
    width: 100%;
}

header .navbar ul {
    list-style: none;
    padding: 1rem 3rem;
}

header .navbar ul li a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    margin: 1.5rem 0rem;
    background: #333;
    color: #fff;
    font-size: var(--medium-fz);
    border-radius: 1rem;
}

header .navbar ul li a:hover {
    background: var(--main-clr);
}

#menu {
    position: fixed;
    top: 2rem;
    right: 2rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    font-size: var(--medium-fz);
    padding: 1rem 1.5rem;
    z-index: 1000;
    border-radius: 0.5rem;
    display: none;
}

/* header section end  */

/* home section start  */

.home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 15rem;
}

.home .container {
    display: flex;
}

.home h3 {
    font-size: var(--big-fz);
    color: #fff;
}

.home .container .first-text {
    font-size: var(--large-fz);
    color: #fff;
}

.home .container {
    height: 9rem;
    line-height: 9rem;
    overflow: hidden;
}

.home .container .second-text li {
    list-style: none;
    font-size: var(--large-fz);
    color: var(--main-clr);
    padding: 0rem 2rem;
    text-shadow: 0 0 1rem var(--main-clr);
    position: relative;
    top: 0;
    animation: slide 8s steps(4) infinite, color 7s infinite;
}

@keyframes slide {
    100% {
        top: -36rem;
    }
}

@keyframes color {
    100% {
        filter: hue-rotate(360deg);
    }
}

.home p {
    font-size: var(--small-fz);
    color: #fff;
    padding: 1rem 0rem;
}


/* home section end  */


/* about section start  */

.about .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 0rem;
}

.about .row .info {
    flex: 1 1 50rem;
    padding: 2rem 1rem;
    padding-left: 6rem;
}

.about .row .info h4 {
    font-size: var(--medium-fz);
    color: var(--main-clr);
    padding: 1rem 0rem;
}

.about .row .info h4 span {
    color: #fff;
    padding: 0rem 0.5rem;
}

.about .row .info-box {
    flex: 1 1 50rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about .row .info-box .box {
    flex: 1 1 20rem;
    background-color: #0d1117;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
}

.about .row .info-box .box span {
    color: var(--main-clr);
    font-size: var(--info-box-fz);
}

.about .row .info-box .box h3 {
    color: #fff;
    font-size: var(--h3-fz);
}


/* about section end  */

/* education section start  */

.education .box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 0rem;
    padding-left: 3rem;
}

.education .box-container .box {
    flex: 1 1 30rem;
    margin: 4rem 1rem;
    padding-left: 4rem;
    border-left: 0.2rem solid #fff;
    position: relative;
}

.education .box-container .box i {
    position: absolute;
    top: -1.5rem;
    left: -2.5rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    color: #fff;
    background: var(--main-clr);
    font-size: var(--medium-fz);
    box-shadow: var(--glowing-bxs);
}

.education .box-container .box span {
    background: #0d1117;
    border-radius: 5rem;
    padding: 0.5rem 2.5rem;
    color: #fff;
    font-size: 1.5rem;
}

.education .box-container .box h3 {
    font-size: var(--medium-fz);
    color: #fff;
    padding-top: 1.5rem;
}

.education .box-container .box p {
    font-size: 1.5rem;
    color: #fff;
    padding: 1rem 0rem;
}



/* education section end  */

/* portfolio section start  */

.portfolio .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0rem;
    padding-left: 3rem;
}

.portfolio .box-container .box {
    flex: 1 1 25rem;
    height: 25rem;
    border-radius: 2rem;
    border: .5rem solid var(--main-clr);
    margin: 2.5rem;
    box-shadow: var(--glowing-bxs);
    overflow: hidden;
    cursor: pointer;
}

.portfolio .box-container .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio .box-container .box:hover img {
    transform: scale(1.1);
}

/* portfolio section end  */

/* contact section start  */

.contact .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contact .row .content {
    fleX: 1 1 30rem;
    padding: 4rem;
    padding-bottom: 0;
}

.contact .row .content h3 {
    color: #fff;
    font-size: var(--h3-fz);
}

.contact .row .content .info h4 {
    color: #fff;
    font-size: var(--small-fz);
    text-transform: none;
    margin: 1.5rem 0rem;
    padding: 1rem;
}

.contact .row .content .info i {
    color: var(--main-clr);
    padding-right: 1rem;
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 2rem;
    margin: 2rem;
    margin-bottom: 4rem;
}

.contact .row form .input-box {
    width: 100%;
    padding: 1rem;
    margin: 1rem;
    background-color: #160d17;
    color: #fff;
    text-transform: none;
}

.contact .row form textarea {
    height: 20rem;
    resize: none;
}


/* contact section end  */

/* footer section start  */

.social-links {
    text-align: center;
    padding: 0rem 0rem 3rem;
}

.social-links a {
    margin: 0rem 0.3rem;
    width: 4.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    background-color: #fff;
    text-decoration: none;
    border-radius: 50%;
    color: #000;
    font-size: var(--medium-fz);
}

.social-links a:hover {
    background-color: var(--main-clr);
    color: #fff;
    box-shadow: var(--glowing-bxs);
}

/* footer section end  */



/* media queries  */


@media (max-width: 1200px) {
    .home {
        padding: 1rem 4rem;
    }
}

@media (max-width: 991px) {
    header {
        left: -120%;
    }

    #menu {
        display: block;
    }

    header.active {
        left: 0%;
    }

    body {
        padding: 0;
    }
}

@media (max-width: 400px) {
    header {
        width: 100vw;
    }
}